<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div>
        <h1>Spring Boot - Home Page</h1>
        <h2>1. Visit <a th:href="@{/user}">User Page</a></h2>
        <h2>2. Visit <a th:href="@{/admin}">Admin Page</a></h2>
        <h2>3. Visit <a th:href="@{/about}">About Page</a></h2>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>